

.calendar {
  display: flex;
  justify-content: center;
}

.arrowBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
} 
.arrowBtn svg {
  width: 20px;
  height: 20px;
  fill: var(--color-mark);
}

.month {
  min-width: 200px;
  max-width: 300px;
  background-color: var(--color-devide-light);
}
.month_caption {
  font-family: var(--font-mark);
  color: var(--color-mark);
}

.day {
  position: relative;
  width: 50px;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  border: 3px solid transparent;
  border-radius: 5px;
}
.day:hover {
  border: 3px solid var(--color-mark-more);
  cursor: pointer;
}
.weekend {
  background-color: var(--color-light);
}
.today {
  border: 3px solid var(--color-mark);
}
.selected {
 background-color: var(--color-mark-secondary);
}

.date {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -6px;
  right: -2px;
}
