.calendar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}
.calendar__months-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.calendar__table {
  /* background-color: var(--color-devide-light); */
  background-color: var(--color-calendar-bg);
  border-spacing: 3px;
}

.table__day {
  position: relative;
  margin: 10px;
  padding: 0;
  background-color: var(--color-white);
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 9px;
  font-weight: 500;
}
.table__day_month-view.table__day_this:hover {
  border: 2px solid var(--color-mark-more);
  cursor: pointer;
}
.table__day_week-view:hover {
  border: 2px solid var(--color-mark-more);
  cursor: pointer;
}
.table__day_weekend {
  background-color: var(--color-light);
}
.table__day_today {
  border: 2px solid var(--color-mark);
}
.table__day_selected {
  background-color: var(--color-mark-secondary);
}
.day__date {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -3px;
  right: -2px;
  font-family: 'Roboto';
  font-weight: 600;
}
.table__day_week-view.table__day_next .day__date,
.table__day_week-view.table__day_prev .day__date {
  color: var(--color-blue);
}

.calendar__titles_week_view {
  width: 49px;
  text-align: left;
}
.month-title {
  margin: 0;
  font-family: var(--font-mark);
  line-height: 1.3rem;
}
.month-title_week-view {
  color: var(--color-mark-secondary);
  font-size: 18px;
}
.month-title_month-view {
  color: var(--color-mark);
  font-size: 16px;
}
.year-title {
  margin: -5px 0;
  font-family: var(--font-mark);
  font-size: 16px;
  color: var(--color-mark-secondary);
  line-height: 1.1rem;
}

.calendar__controls_week-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 4px;
  width: 46px;
  height: 80px;
}
.controls__arrowBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.controls__arrowBtn svg {
  width: 30px;
  fill: var(--color-mark-more);
}
.controls__arrowBtn_next {
  margin: 0;
  margin-left: -12px;
  margin-top: 4px;
}
.controls__arrowBtn_prev {
  margin: 0;
  margin-left: -12px;
  margin-bottom: -7px;
}
.controls__arrowBtn_week-view {
  transform: rotate(90deg);
}