.task_add {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  padding-left: 5%;
  background-color: var(--color-light);
}

.btn_set-date {
  width: 20px;
}

.input_task-title {
  width: 90%;
}

.btn_save-form {
  width: 20px;
}