.container {
  padding: 1px 8px;
}
.grid_container {
  max-width: 2200px;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2.5fr 5fr 2fr;
  grid-auto-rows: 245px auto;
  grid-template-areas:
    "spheres calendar dated"
    "spheres main dated"
}
.spheres_container {
  grid-area: spheres;
}
.calendar_container {
  grid-area: calendar;
  border-bottom: 1px solid #fa6e59;
  overflow-y: auto;
}
.main_container {
  grid-area: main;
}
.dated_container {
  grid-area: dated;
}






.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
