.container {
  padding: 1px 4px;
}

.grid_container {
  margin: 0 auto;
  position: relative;
  display: grid;
  height: 100vh;
  overflow: hidden;
 
  grid-template-columns: 18px auto;
  grid-auto-rows: 94px 200px auto;
  
  grid-template-areas:
    "spheres calendar"
    "spheres dated"
    "spheres main"
}
.spheres_container {
  grid-area: spheres;
}

.calendar_container {
  grid-area: calendar;
  overflow: auto;
  
}
.main_container {
  min-width: 400px;
  grid-area: main;
  position: relative;
  padding: 0;
  height: calc(100vh - 294px);
  overflow: hidden;
}
.main_wrapper {
  height: calc(100% - 68px);
  overflow: auto;
}
.dated_container {
  grid-area: dated;
  overflow: auto;
}

@media screen and (min-width: 900px) {
    .grid_container {
      grid-template-columns: 18px 5fr 2fr;
      grid-auto-rows: 180px auto;
      grid-template-areas:
        "spheres calendar dated"
        "spheres main dated"
    }
    .dated_container {
      min-width: 350px;
      overflow: auto;
    }
    .main_container {
      height: calc(100vh - 180px);
    }
}

@media screen and (min-width: 1400px) {
  .grid_container {
      max-width: 2200px;
      grid-template-columns: 2.5fr 5fr 2fr;
    }
}






.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
