@font-face {
  font-family: "Ermilov";
  src: url("../public/Ermilov.otf");
  font-style: normal;
  font-weight: bold;
}

:root {
  --color-text: #563e20;
  --color-mark: #fa6e59;
  --color-mark-more: #eb8a3e;
  --color-mark-secondary: #f8a055;
  --color-devide-light: #ffeee9;
  --color-light: #fff5e9;
  --color-white: #fcfdfe;
  --color-blue: #5cc5ef;
  --color-blue-light: #f5fcff;
  --color-gray: rgba(193, 193, 193, 0.7);
}

:root {
  --font-mark: 'Ermilov';
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*--color-mark-secondary: #fa6e59; */